<!doctype html>
<html lang="en">

<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand navbar-light bg-dark d-flex justify-content-center">
    <div class="nav navbar-nav">
      <h1 class="text-center text-white" style="font-size: 1.5em;">TIS5_bigFiveOntology</h1>
    </div>
  </nav>

  <div class="container">
    <div id="presentation" class="mt-4">
      <h2>Présentation</h2>
      <p>
        Bienvenue sur notre super analyseur de texte basé sur une ontologie du Big Five (célèbre classifieur de
        personnalité en psychologie).
        Vous pouvez inserez un texte d'un même auteur (ex: tweets) et cliquer sur le bouton analyser.
      </p>
    </div>

    <div class="border rounded border-primary my-2">
      <div class="bg-primary px-2 text-white">Etape 1 : Copier-coller vos tweets dans l'espace ci-dessous</div>
      <div class="p-3">
        <form action="" method="POST">
          <div class="form-group">
            <label for="">Votre texte</label>
            <textarea class="form-control" name="text" id="text" rows="3"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Analyser !</button>
        </form>
      </div>
    </div>

    <div class="border rounded border-success my-2">
      <div class="bg-success px-2 text-white">Etape 2 : Observez les résultats</div>
      <div class="p-3">
        <h2>Analyse</h2>

        {% if graphJSON is defined %}
        <div style="display:flex;justify-content: center;text-align: center;">
          <div id="chart" class="chart"></div>
          <div>{{description}}</div>
        </div>
        {% else %}
        <p>Aucune analyse pour le moment.</p>
        {% endif %}
      </div>


    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe}};
  Plotly.plot('chart', graphs, {});
</script>

</html>